<!DOCTYPE html>
<html>
    <head>
        <title>
            Rowspan and Colspan
        </title>
    </head>
    <body>
        <table border="1px" cellpading="30px" cellspacing="10px">
            <thead>
                <tr>
                    <th>Batch code</th>
                    <th>sname</th>
                    <th colspan="2">courses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3" align="center">WEB-E2</td>
                    <td align="center">kanna</td>
                    <td align="center">java</td>
                    <td>html</td>
                </tr>
                <tr>
                    
                    <td align="center">karna</td>
                    <td align="center">mern</td>
                    <td>html</td>
                </tr>
                <tr>
                    
                    <td>krishanveni</td>
                    <td align="center">python</td>
                    <td>html</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>